### **1.Consumo di alcol per paese** 
Esegui un’**analisi esplorativa** focalizzata sul **consumo di alcol**.  
Analizza i seguenti aspetti:
* Visualizza i primi 10 paesi ordinati per total_litres_of_pure_alcohol (dal più alto)

* Calcola la media del consumo di birra, vino, e distillati

* Crea una nuova colonna alcohol_index che sia: `(beer_servings + wine_servings + spirit_servings) / 3`

* Trova il paese con il valore massimo di alcohol_index

* Filtra solo i paesi che consumano più di 100 birre all’anno

Crea un bar chart dei 10 paesi con più consumo totale (total_litres_of_pure_alcohol)

Crea un line plot con wine_servings ordinato per paese (usa sort_values)

In [ ]:
# Lettura del dataset
import pandas as pd
from sys import exit
try:
    df = pd.read_csv("https://raw.githubusercontent.com/fivethirtyeight/data/master/alcohol-consumption/drinks.csv")
except Exception as e:
    exit("Error: " + str(e))
df

In [ ]:
# Primi 10 paesi per litri totali di alcol puro
df_by_alcolhol = df.sort_values(by="total_litres_of_pure_alcohol", ascending=False).head(10)
df_by_alcolhol

In [ ]:
# Media per tipo di bevanda alcolica
beer_average = int(df["beer_servings"].mean())
wine_average = int(df["wine_servings"].mean())
spirit_average = int(df["spirit_servings"].mean())
print(f"Media beer_servings: {beer_average}\nMedia wine_servings: {wine_average}\nMedia spirit_servings: {spirit_average}")

In [ ]:
# Aggiunta di una nuova colonna
df["alcohol_index"] = round((df["beer_servings"] + df["wine_servings"] + df["spirit_servings"]) / 3, 2)
df

In [ ]:
# Paese con il punteggio più alto per l'alcol index
df.sort_values(by="alcohol_index", ascending=False).head(1)

In [ ]:
# Filtraggio dei paesi con più di 100 birre servite
df[df["beer_servings"] > 100]

In [ ]:
import matplotlib.pyplot as plt
df_by_alcolhol.plot(kind="bar", x="country", y="total_litres_of_pure_alcohol", color="blue")

### **2.Analisi offerte di lavoro** 

Esegui un’**analisi esplorativa** focalizzata sui **lavori nel campo dei dati in ciascun paese**.  
Analizza i seguenti aspetti per ogni paese:

* Lo **stipendio medio annuale** (`salary_year_avg`)
* Il **numero totale di offerte di lavoro** (job count)
* L’intervallo degli stipendi: **valore minimo e massimo** (`min` / `max`)

Rappresenta graficamente lo stipendio medio (`salary_year_avg`) per `job_title_short` usando un grafico a barre orizzontali. Ordina i dati dallo stipendio più alto al più basso. Includi un titolo e le etichette per gli assi x e y.

In [ ]:
import pandas as pd
from datasets import load_dataset
import random

job_titles = [random.choice(['Software Engineer', 'Data Scientist', 'Product Manager', 'UX Designer', 'DevOps Engineer']) for _ in range(100)]
company = [random.choice(['Google', 'Facebook', 'Amazon', 'Apple', 'Microsoft']) for _ in range(100)]
Description = [random.choice(['Full-time', 'Part-time', 'Internship']) for _ in range(100)]
Location = [random.choice(['Remote', 'On-site', 'Hybrid']) for _ in range(100)]
Salary_min = [random.randint(50000, 150000) for _ in range(100)]
Salary_max = [random.randint(50000, 150000) for _ in range(100)]
Date_posted = [random.choice(['2023-01-01', '2023-02-15', '2023-03-10', '2023-04-20', '2023-05-30']) for _ in range(100)]
url = [random.choice(['https://example.com/job1', 'https://example.com/job2', 'https://example.com/job3']) for _ in range(100)]
df = pd.DataFrame({
    'job_title': job_titles,
    'company': company,
    'job_description': Description,
    'location': Location,
    'salary_min': Salary_min,
    'salary_max': Salary_max,
    'job_posted_date': Date_posted,
    'url': url
})

df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])
df

In [6]:
# average salary by location
df.groupby('location')[(df["salary_min"]+df["salary_max"])/2]

KeyError: 'Columns not found: 103170.5, 93188.5, 130053.0, 104966.0, 78852.5, 86024.0, 66820.5, 93958.5, 66823.5, 139018.0, 65803.5, 94478.0, 129040.5, 85778.5, 82453.5, 110363.0, 93216.5, 72995.0, 120870.5, 85545.5, 94506.5, 103979.0, 64299.0, 101934.0, 138798.5, 88879.0, 126515.0, 104757.5, 94266.0, 137018.5, 90947.5, 86596.5, 84807.5, 109901.0, 81487.5, 123727.5, 98128.5, 77395.0, 118613.5, 67934.0, 149087.0, 90463.5, 104287.5, 65377.0, 111980.5, 68719.5, 114544.0, 91507.5, 86387.5, 110710.0, 111990.5, 138360.0, 102011.0, 99715.5, 108169.0, 102028.5, 107150.5, 111249.0, 112017.0, 85657.0, 109465.0, 129946.5, 89757.0, 96163.0, 83626.0, 117675.0, 99243.5, 73648.5, 70066.5, 99514.0, 91069.0, 61119.5, 95168.5, 68545.5, 90308.5, 61637.5, 76486.0, 104905.5, 128717.5, 107727.5, 105680.5, 113103.5, 106450.5, 130010.5, 137947.0, 81117.0, 112350.5, 115942.5, 61415.0, 92910.5, 125938.5, 124915.0, 62196.0, 94712.5, 78841.5, 107002.5, 89339.5, 97020.0, 107005.0, 80127.5'